<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
        <meta http-equiv="Content-language" content="ru">
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <link rel="shortcut icon" href="../static/img/favicon.png" type="image/png">
		<title>Music</title>
	</head>
	<body>

        {#    Pop-Up Block's    #}
        <div id="global_error" class="Login" style="z-index: 6; display: none;" onclick="document.getElementById('global_error').style.display = (event.target == this) ? 'none' : 'block';">
            <div class="login_block">
                <p style="color: #e9002b;" id="global_error_title">Ошибка</p>
                <div class="login_input_block">
                    <span style="font-size: 4vh;" id="global_error_text"></span>
                </div>
            </div>
        </div>

        <div class="Login" id="upload" style="z-index: 4; display: none; overflow-y: auto;" onclick="closeUpload(this);">
            <div class="login_block">
                <p style="color: #1bff00;" id="global_error_title">Загрузка</p>
                <div class="login_input_block">
                    <p>Выберите музыку которую необходимо загрузить. После начала загрузки, пожалуйста не закрывайте текущее окно, дождитесь полного окончания</p>
                    <input name="music_file" type="file" accept="audio/*" multiple id="music_file" style="display: block; opacity: 0; position: absolute; z-index: -1; width: 0; height: 0;">
                    <div class="enter_login" id="button_select_upload_music">
                        <button onclick="PrepareUpload();">Выберите файлы</button>
                    </div>
                    <div class="list_uploaded_music" id="list_uploaded_music" style="margin-bottom: 6%;"></div>
                    <span style="font-size: 4vh;" id="global_error_text"></span>
                </div>
            </div>
        </div>

        {#    Body Block's    #}
		<div id="bodyContent">
			<div class="MainMusic">
                <div class="PlayLists" id="playlists" style="display: none;">
                    <div class="blockPlayList" id="button_add_playlist">
                        <img src="../static/img/plus.png" alt="#" style="border: none;">
                        <span>Создать плейлист</span>
                    </div>
                </div>
                <div class="Music_and_Frend" style="margin-bottom: 9%;">
                    <div class="AllMusicList">
                        <div class="search_and_add">
                            <div class="block_search_input">
                                <input type="text" name="search" class="input_search" id="input_search">
                            </div>
                            <div class="add_track block_search" id="add_track" style="display: none;" onclick="showUpload();">
                                <img src="../static/img/add_music.png" alt="#">
                                <span>Загрузить трек</span>
                            </div>
                        </div>
                        <div id="musics_list"><div>У вас нет треков</div></div>
                    </div>
                    <div class="all_friends_list">
                        <div class="user_block">
                            <div id="user_block" class="right_panel block_search">
                                <img src="" alt="" class="default_img" id="main_user_img">
                                <span id="main_user_login">User_Login</span>
                                <div onclick="LogOut()"><img src="../static/img/no.png" alt="Exit"></div>
                            </div>
                            <div id="button_login_reg_block" class="right_panel block_search" onclick="document.getElementById('Login').style.display = 'block';">
                                <span>LogIn/RegIn</span>
                            </div>
                        </div>
                        <div class="friends" id="friends" style="display: none;">
                            <p>Список друзей:</p>
                            <div id="list_friends"></div>
                        </div>
                    </div>
                </div>
			</div>
			<div class="mainPlayer">
				<div class="controlsPlayer">
					<img src="../static/img/default_img.jpg" class="imgAlbom" id="img_cover" alt="#">
					<img src="../static/img/backward_v2.png" class="imgBackWard" id="backward" alt="#">
					<img src="../static/img/play.png" class="imgPlay" id="play" alt="#" style="display: block;">
					<img src="../static/img/forward_v2.png" class="imgForWard" id="forward" alt="#">
					<div class="timeLineAndName">
						<div class="nameAndAuthor">
                            <div class="ushe_pohuy">
                                <span id="song-name">Без названия</span>
                                <span class="t_name_author" id="song_author">Неизвестен</span>
                            </div>
						</div>
						<div class="timeLine" id="time-line">
							<div class="timeLine_fill" id="in_line"></div>
                            <span class="time_start" id="c_time">0:00</span>
                            <span class="time_end" id="time">0:00</span>
						</div>
					</div>
                    <input type="range" id="volume" name="volume" min="0" max="100" value="100">
                    <img src="../static/img/loop.png" class="imgLoop" id="loop" style="margin-left: 10px;" alt="#">
					<img src="../static/img/shuffle.png" class="imgShuffle" id="shuffle" alt="#">
				</div>
			</div>
		</div>
        <div class="Login" id="Login" style="display: none" onclick="document.getElementById('Login').style.display = (event.target == this) ? 'none' : 'block';">
            <div class="login_block">
                <p> </p>
                <div class="login_input_block">
                    <span>Логин</span>
                    <input type="text" name="login" id="input_login_login">
                </div>
                <div class="login_input_block" style="display: none;" id="email_if_reg">
                    <span>Почта</span>
                    <input type="email" name="login" id="input_email_login">
                </div>
                <div class="login_input_block">
                    <span>Пароль</span>
                    <input type="password" name="password" id="input_password_login">
                </div>
                <div class="login_input_block" style="display: none;" id="pass_repeat_if_reg">
                    <span>Пароль ещё раз</span>
                    <input type="password" name="password" id="input_password_repeat_login">
                </div>
                <div class="enter_login">
                    <span id="change_have_no_have_acc" onclick="change_to_reg()">Нет аккаунта?</span>
                    <button id="button_login_reg" onclick="LogIn()">Вход</button>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="../static/js/Main.js"></script>
        <script type="text/javascript" src="../static/js/Auth.js"></script>
        <script type="text/javascript" src="../static/js/Audio.js"></script>
        <script type="text/javascript" src="../static/js/Friends.js"></script>
        <script type="text/javascript" src="../static/js/PlayList.js"></script>
        <script type="text/javascript" src="../static/js/Musics.js"></script>
        <script type="text/javascript" src="../static/js/Upload.js"></script>
	</body>
</html>