<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <link rel="shortcut icon" href="../static/img/favicon.png" type="image/png">
		<title>Music</title>
	</head>
	<body>
        <div id="global_error" class="Login" style="z-index: 6; display: none;" onclick="document.getElementById('global_error').style.display = (event.target == this) ? 'none' : 'block';">
            <div class="login_block">
                <p style="color: #e9002b;" id="global_error_title">Ошибка</p>
                <div class="login_input_block">
                    <span style="font-size: 4vh;" id="global_error_text"></span>
                </div>
            </div>
        </div>
		<div id="bodyContent">
			<div class="header">
                <div class="left_panel">
                    <div class="block_search">
                        <img src="../static/img/search.png" alt="#">
                        <span>Поиск</span>
                    </div>
                    <div class="load_track">
                        <img src="../static/img/plus.png" alt="#">
                        <span>Загрузить трек</span>
                    </div>
                    <div class="add_playlist">
                        <img src="../static/img/add_playlist.png" alt="#">
                        <span>Создать плейлист</span>
                    </div>
                </div>
                <div id="user_block" style="display: none; justify-content: space-between; width: 35vh;" class="right_panel block_search">
                    <img src="" alt="" style="width: 40px; height: 40px; border: 2px solid #000;" id="main_user_img">
                    <span id="main_user_login">User_Login</span>
                    <div>Ex</div>
                </div>
                <div id="button_login_reg_block" class="right_panel block_search" onclick="document.getElementById('Login').style.display = 'block';">
                    <span>LogIn/RegIn</span>
                </div>
			</div>
			<div class="MainMusic">
                <div class="PlayLists">
                    {#            тут цикл ебаный        #}
                    <div class="blockPlayList">
                        <img src="../static/img/default_img.jpg" alt="#">
                        <span>PlayList #1</span>
                    </div>
                    <div class="blockPlayList">
                        <img src="../static/img/default_img.jpg" alt="#">
                        <span>PlayList #2</span>
                    </div>
                    <div class="blockPlayList">
                        <img src="../static/img/default_img.jpg" alt="#">
                        <span>PlayList #3</span>
                    </div>
                </div>
                <div class="Music_and_Frend">
                    <div class="AllMusicList">
                        <div class="blockMusic">
                            <audio src="{{ url_for("static", path='music/1.mp3') }}" controls></audio>
                        </div>
                        <div class="blockMusic">
                            <audio src="{{ url_for("static", path='music/2.mp3') }}" controls></audio>
                        </div>
                        {#            тут цикл ебаный        #}
{#                        <div class="blockMusic" data-src="{{ url_for("static", path='music/1.mp3') }}" data-name="1" data-author="Bones" data-img="../static/img/default_img.jpg">#}
{#                            <div>#}
{#                                <img src="../static/img/default_img.jpg" alt="#">#}
{#                                <div><span>1</span><span>Bones</span></div>#}
{#                            </div>#}
{#                            <span>3:20</span>#}
{#                            <div class="blockMusic_on_play" id="blockMusic_on_play_0" style="display: none"></div>#}
{#                        </div>#}
{#                        <div class="blockMusic" data-src="{{ url_for("static", path='music/2.mp3') }}" data-name="2" data-author="Bones" data-img="../static/img/default_img.jpg">#}
{#                            <div>#}
{#                                <img src="../static/img/default_img.jpg" alt="#">#}
{#                                <div><span>2</span><span>Bones</span></div>#}
{#                            </div>#}
{#                            <span>3:20</span>#}
{#                            <div class="blockMusic_on_play" id="blockMusic_on_play_1" style="display: none"></div>#}
{#                        </div>#}
{#                        <div class="blockMusic" data-src="{{ url_for("static", path='music/3.mp3') }}" data-name="3" data-author="Bones" data-img="../static/img/default_img.jpg">#}
{#                            <div>#}
{#                                <img src="../static/img/default_img.jpg" alt="#">#}
{#                                <div><span>3</span><span>Bones</span></div>#}
{#                            </div>#}
{#                            <span>3:20</span>#}
{#                            <div class="blockMusic_on_play" id="blockMusic_on_play_2" style="display: none"></div>#}
{#                        </div>#}
{#                        <div class="blockMusic" data-src="{{ url_for("static", path='music/4.mp3') }}" data-name="4" data-author="Bones" data-img="../static/img/default_img.jpg">#}
{#                            <div>#}
{#                                <img src="../static/img/default_img.jpg" alt="#">#}
{#                                <div><span>4</span><span>Bones</span></div>#}
{#                            </div>#}
{#                            <span>3:20</span>#}
{#                            <div class="blockMusic_on_play" id="blockMusic_on_play_3" style="display: none"></div>#}
{#                        </div>#}
                    </div>
                    <div class="All_Freand_List">
                        <p>Список друзей</p>
                        {#            тут цикл ебаный        #}
                        <div class="FrendsList">
                            <div>
                                <img src="../static/img/default_img.jpg" alt="#">
                                <div>
                                    <span style="display: flex;align-content: center;align-items: center;">
                                        <img src="../static/img/gem_green.png" alt="" style="width: 12px; height: 12px;">
                                        <span>UserLogin_Name</span>
                                    </span>
                                    <span>1337 аудиозаписи</span>
                                </div>
                            </div>
                            <div>
                                <img src="../static/img/default_img.jpg" alt="#">
                                <div>
                                    <span style="display: flex;align-content: center;align-items: center;">
                                        <img src="../static/img/gem_green.png" alt="" style="width: 12px; height: 12px;">
                                        <span>UserLogin_Name</span>
                                    </span>
                                    <span>1337 аудиозаписи</span>
                                </div>
                            </div>
                            <div>
                                <img src="../static/img/default_img.jpg" alt="#">
                                <div>
                                    <span style="display: flex;align-content: center;align-items: center;">
                                        <img src="../static/img/gem_grey.png" alt="" style="width: 12px; height: 12px;">
                                        <span>UserLogin_Name</span>
                                    </span>
                                    <span>1337 аудиозаписи</span>
                                </div>
                            </div>
                            <div>
                                <img src="../static/img/default_img.jpg" alt="#">
                                <div>
                                    <span style="display: flex;align-content: center;align-items: center;">
                                        <img src="../static/img/gem_green.png" alt="" style="width: 12px; height: 12px;">
                                        <span>UserLogin_Name</span>
                                    </span>
                                    <span>1337 аудиозаписи</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			<div class="mainPlayer">
				<div class="controlsPlayer">
					<img src="../static/img/default_img.jpg" class="imgAlbom" id="img_player" alt="#">
					<img src="../static/img/backward_v2.png" class="imgBackWard" id="backward" alt="#">
					<img src="../static/img/play.png" class="imgPlay" id="play" alt="#" style="display: block;">
					<img src="../static/img/forward_v2.png" class="imgForWard" id="forward" alt="#">
					<div class="timeLineAndName">
						<div class="nameAndAuthor">
                            <div class="ushe_pohuy">
                                <span id="song-name">Без названия</span>
                                <span class="t_name_author" id="song_author">Неизвестен</span>
                            </div>
                            <div>
                                <span class="time_start" id="c_time">0:00</span>
                                <span class="time_end" id="time">0:00</span>
                            </div>
						</div>
						<div class="timeLine" id="time-line">
							<div class="timeLine_fill" id="in_line"></div>
						</div>
					</div>
                    <input type="range" id="volume" name="volume" min="0" max="100" value="100">
                    <img src="../static/img/loop.png" class="imgLoop" id="loop" style="margin-left: 10px;" alt="#">
					<img src="../static/img/shuffle.png" class="imgShuffle" id="shuffle" alt="#">
				</div>
			</div>
		</div>
        <div class="Login" id="Login" style="display: none" onclick="document.getElementById('Login').style.display = (event.target == this) ? 'none' : 'block';">
            <div class="login_block">
                <p>Вход</p>
                <div class="login_input_block">
                    <span>Логин</span>
                    <input type="text" name="login" id="input_login_login">
                </div>
                <div class="login_input_block" style="display: none;" id="email_if_reg">
                    <span>Почта</span>
                    <input type="email" name="login" id="input_email_login">
                </div>
                <div class="login_input_block">
                    <span>Пароль</span>
                    <input type="password" name="password" id="input_password_login">
                </div>
                <div class="login_input_block" style="display: none;" id="pass_repeat_if_reg">
                    <span>Пароль ещё раз</span>
                    <input type="password" name="password" id="input_password_repeat_login">
                </div>
                <div class="enter_login">
                    <span id="change_have_no_have_acc" onclick="change_to_reg()">Нет аккаунта?</span>
                    <button id="button_login_reg" onclick="LogIn()">Вход</button>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="../static/js/Main.js"></script>
{#    <script type="text/javascript" src="../static/js/Audio.js"></script>#}
	</body>
</html>