<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-language" content="ru">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/new_style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/menu_style.css">
    <link rel="shortcut icon" href="/static/img/favicon.png" type="image/png">
    <title>Music</title>
</head>
<body>

    <div class="background_pop_up" id="notification_pop_up" style="z-index: 10; display: none;">
        <div class="pop_up">
            <div class="close_pop_up" onclick="closePopUp('notification_pop_up');"><span>+</span></div>
            <div class="notification_block">
                <div class="header_pop_up" style="font-size: 1.8rem; font-weight: 600; text-align: center;">
                    <span id="header_notification">Ошибка</span>
                </div>
                <div class="body_pop_up" style="font-size: 1.4rem; text-align: center;">
                    <span id="body_notification">Ебать, ну чёт не так</span>
                </div>
            </div>
        </div>
    </div>

    <div class="background_pop_up" id="pop_up" style="display: none;">
        <div class="pop_up">
            <div class="close_pop_up" onclick="closePopUp('pop_up');"><span>+</span></div>
            <div class="header_pop_up" id="pop_up_header"></div>
            <hr>
            <div class="body_pop_up" id="pop_up_body"></div>
        </div>
    </div>

    <div class="background_pop_up" id="login_pop_up" style="display: none;">
        <div class="pop_up" style="padding: 0;">
            <div class="close_pop_up" onclick="closePopUp('login_pop_up');"><span>+</span></div>
            <div class="login_block">
                <div class="login_pic"></div>
                <div class="login_form">
                    <div class="login_form_header">
                        <span id="header_log_reg">Вход</span>
                    </div>
                    <div class="login_form_inputs">
                        <label>
                            <span style="display: flex"><img src="/static/img/person.svg" alt=""> Логин</span>
                            <input type="text" name="login" id="login" placeholder="Введите Логин...">
                        </label>
                        <label id="label_on_reg_email" style="display: none;">
                            <span style="display: flex"><img src="/static/img/email.svg" alt=""> Почта</span>
                            <input type="email" name="email" id="email" placeholder="Введите Почту...">
                        </label>
                        <label>
                            <span style="display: flex"><img src="/static/img/lock.svg" alt=""> Пароль</span>
                            <input type="password" name="password" id="password" placeholder="Введите Пароль...">
                        </label>
                        <label id="label_on_reg_repeat_password" style="display: none;">
                            <span style="display: flex"><img src="/static/img/lock.svg" alt=""> Пароль ещё раз</span>
                            <input type="password" name="password_repeat" id="password_repeat" placeholder="Введите Пароль ещё раз...">
                        </label>
                        <button id="button_submit_reg_log" onclick="LogSign()">Вход</button>
                        <span id="info_reg_log">Нет аккаунта? <span onclick="change_to_login()">Создать сейчас!</span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar">
        <ul class="navbar__menu">
            <li class="navbar__item" id="profile_link" onclick="createPopUp(type='login');">
                <a href="#" class="navbar__link">
                    <img id="profile_avatar" src="/static/img/enter.svg" alt="Y">
                    <span id="profile_login">Вход/Регистрация</span>
                </a>
            </li>
            <li class="navbar__item">
                <a href="#" class="navbar__link">
                    <img src="/static/img/search.svg" alt="S">
                    <span>Поиск</span>
                </a>
            </li>

            <li class="navbar__item" id="friend_link" style="display: none;">
                <a href="#" class="navbar__link">
                    <img src="/static/img/friend.svg" alt="F">
                    <span>Друзья</span>
                </a>
            </li>
            <li class="navbar__item" id="upload_link" style="display: none;">
                <a href="#" class="navbar__link">
                    <img src="/static/img/upload.svg" alt="U">
                    <span>Загрузить трек</span>
                </a>
            </li>
            <li class="navbar__item" id="message_link" style="display: none;">
                <a href="#" class="navbar__link">
                    <img src="/static/img/message.svg" alt="M">
                    <span>Скоро🤔</span>
                </a>
            </li>
{#            <li class="navbar__item">#}
{#                <a href="#" class="navbar__link"><i data-feather="help-circle"></i><span>Help</span></a>#}
{#            </li>#}
{#            <li class="navbar__item">#}
{#                <a href="#" class="navbar__link"><i data-feather="settings"></i><span>Settings</span></a>#}
{#            </li>#}
        </ul>
    </nav>

    <div class="background">
        <div class="background_cover"></div>
    </div>

    <div class="main_content">
        <div class="playlists" id="playlists" style="display: none;">
            <div class="add_playlist" id="block_add_playlist" onclick="addPlayList();">
                <div class="rounded_add"><span class="title_add_playlist">+</span></div>
                <span>Создать плейлист</span>
            </div>
        </div>

        <div class="musics" id="musics">
            <div class="music">
                <span>Треков нет, сори)</span>
            </div>
        </div>
    </div>

    <div class="main_player">
        <div class="main_player_cover_and_title">
            <img src="/static/img/test_cover.jpg" alt="" class="music_cover" id="img_cover">
        </div>
        <div class="main_player_controls">
            <img src="/static/img/forward.svg" alt="" style="transform: rotate(180deg);" id="backward">
            <img src="/static/img/play.svg" alt="" style="margin: 0 3% 0 6%;" id="play">
            <img src="/static/img/forward.svg" alt="" id="forward">
        </div>

        <div class="music_title">
            <span class="music_name" id="song_name">Неизвестен</span>
            <span class="music_author" id="song_author">Без названия</span>
        </div>

        <div class="main_player_timeline">
            <div class="main_player_full_time_line" id="time_line">
                <div class="main_player_cur_time_line" id="in_line"></div>
            </div>
        </div>
        <div class="main_player_time" style="width: 6%;">
            <div>
                <span id="c_time">00:00</span>
                <span>/</span>
                <span id="time">00:00</span>
            </div>
        </div>
        <div class="main_player_volume">
            <input type="range" min="0" max="100" value="0" id="volume">
        </div>
        <div class="main_player_function">
            <img src="/static/img/repeat.svg" alt="" id="loop">
            <img src="/static/img/shuffle.svg" alt="" id="shuffle">
        </div>
    </div>
    <script type="text/javascript" src="../static/js/New.js"></script>
    <script type="text/javascript" src="../static/js/lazy.js"></script>
    <script type="text/javascript" src="../static/js/Audio.js"></script>
</body>
</html>