<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-language" content="ru">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/new_style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/menu_style.css">
    <link rel="shortcut icon" href="/static/img/favicon.png" type="image/png">
    <title>Music</title>
</head>
<body>
    <nav class="navbar">
        <ul class="navbar__menu">
            <li class="navbar__item">
                <a href="#" class="navbar__link">
                    <img src="/static/img/default_img.jpg" alt="Y" style="border-radius: 30%; box-shadow: 0 0 5px rgb(106 106 106 / 36%);">
                    <span>GayLord</span>
                </a>
            </li>
            <li class="navbar__item">
                <a href="#" class="navbar__link">
                    <img src="/static/img/search.svg" alt="S">
                    <span>Поиск</span>
                </a>
            </li>
            <li class="navbar__item">
                <a href="#" class="navbar__link">
                    <img src="/static/img/friend.svg" alt="F">
                    <span>Друзья</span>
                </a>
            </li>
            <li class="navbar__item">
                <a href="#" class="navbar__link">
                    <img src="/static/img/upload.svg" alt="U">
                    <span>Загрузить трек</span>
                </a>
            </li>
            <li class="navbar__item">
                <a href="#" class="navbar__link">
                    <img src="/static/img/message.svg" alt="M">
                    <span>Скоро🤔</span>
                </a>
            </li>
{#            <li class="navbar__item">#}
{#                <a href="#" class="navbar__link"><i data-feather="help-circle"></i><span>Help</span></a>#}
{#            </li>#}
{#            <li class="navbar__item">#}
{#                <a href="#" class="navbar__link"><i data-feather="settings"></i><span>Settings</span></a>#}
{#            </li>#}
        </ul>
    </nav>

    <div class="background">
        <div class="background_cover"></div>
    </div>

    <div class="main_content">
        <div class="playlists">
            <div class="block_playlist">
                <img class="cover_playlist" src="/static/img/default_img.jpg" alt="cover">
                <span class="title_playlist">GoneFlud</span>
            </div>
            <div class="block_playlist">
                <img class="cover_playlist" src="/static/img/default_img.jpg" alt="cover">
                <span class="title_playlist">GoneFlud</span>
            </div>
            <div class="block_playlist">
                <img class="cover_playlist" src="/static/img/default_img.jpg" alt="cover">
                <span class="title_playlist">GoneFlud</span>
            </div>
            <div class="block_playlist">
                <img class="cover_playlist" src="/static/img/default_img.jpg" alt="cover">
                <span class="title_playlist">GoneFlud [e[e[e[[e[e[e[[e[e[e[e[[sdafsd sdfasdfa dsfsdf </span>
            </div>
            <div class="block_playlist">
                <img class="cover_playlist" src="/static/img/default_img.jpg" alt="cover">
                <span class="title_playlist">GoneFlud</span>
            </div>
            <div class="block_playlist">
                <img class="cover_playlist" src="/static/img/test_cover.jpg" alt="cover">
                <span class="title_playlist">GoneFlud</span>
            </div>
            <div class="block_playlist">
                <img class="cover_playlist" src="/static/img/test_cover.jpg" alt="cover">
                <span class="title_playlist">GoneFlud</span>
            </div>
            <div class="block_playlist">
                <img class="cover_playlist" src="/static/img/test_cover.jpg" alt="cover">
                <span class="title_playlist">GoneFlud</span>
            </div>
            <div class="block_playlist">
                <img class="cover_playlist" src="/static/img/test_cover.jpg" alt="cover">
                <span class="title_playlist">GoneFlud</span>
            </div>
            <div class="block_playlist">
                <img class="cover_playlist" src="/static/img/test_cover.jpg" alt="cover">
                <span class="title_playlist">GoneFlud</span>
            </div>
            <div class="block_playlist">
                <img class="cover_playlist" src="/static/img/test_cover.jpg" alt="cover">
                <span class="title_playlist">GoneFlud</span>
            </div>
            <div class="add_playlist">
                <div class="rounded_add"><span class="title_add_playlist">+</span></div>
                <span>Создать плейлист</span>
            </div>
        </div>

        <div class="musics">
            <div class="music">
                <div class="cover_name_container">
                    <img class="music_cover" src="/static/img/test_cover.jpg" alt="cover">
                    <div class="music_title title_playlist">
                        <span class="music_name">НеизвестенfSDAFSDAFGDSFGSDFHDFGHDFSGDFGSDFHFGHSFDGHFGJSFGHGDHSDFHSDFG</span>
                        <span class="music_author">Без названияDFGSDFGSDFHGFGJDFGJFGJDFGHGFHSDGFHFGJSFGDHFDGSDFGSDFGSDFGSDF</span>
                    </div>
                </div>
                <div class="functions">
                    <img src="/static/img/add_to_playlist.svg" alt="" title="Добавить в плейлист">
                    <img src="/static/img/download.svg" alt="" title="Скачать трек">
                    <img src="/static/img/delete.svg" alt="" title="Удалить трек">
                    <img src="/static/img/edit.svg" alt="" title="Редактировать трек">
                </div>
                <div class="music_timing">
                    <span>10:25:33</span>
                </div>
            </div>

            <div class="music">
                <div class="cover_name_container">
                    <img class="music_cover" src="/static/img/test_cover.jpg" alt="cover">
                    <div class="music_title">
                        <span class="music_name">Неизвестен</span>
                        <span class="music_author">Без названия</span>
                    </div>
                </div>
                <div class="functions">
                    <img src="/static/img/add_to_playlist.svg" alt="" title="Добавить в плейлист">
                    <img src="/static/img/download.svg" alt="" title="Скачать трек">
                    <img src="/static/img/delete.svg" alt="" title="Удалить трек">
                    <img src="/static/img/edit.svg" alt="" title="Редактировать трек">
                </div>
                <div class="music_timing">
                    <span>10:25:33</span>
                </div>
            </div>

            <div class="music">
                <div class="cover_name_container">
                    <img class="music_cover" src="/static/img/test_cover.jpg" alt="cover">
                    <div class="music_title">
                        <span class="music_name">Неизвестен</span>
                        <span class="music_author">Без названия</span>
                    </div>
                </div>
                <div class="functions">
                    <img src="/static/img/add_to_playlist.svg" alt="" title="Добавить в плейлист">
                    <img src="/static/img/download.svg" alt="" title="Скачать трек">
                    <img src="/static/img/delete.svg" alt="" title="Удалить трек">
                    <img src="/static/img/edit.svg" alt="" title="Редактировать трек">
                </div>
                <div class="music_timing">
                    <span>10:25:33</span>
                </div>
            </div>

            <div class="music">
                <div class="cover_name_container">
                    <img class="music_cover" src="/static/img/test_cover.jpg" alt="cover">
                    <div class="music_title">
                        <span class="music_name">Неизвестен</span>
                        <span class="music_author">Без названия</span>
                    </div>
                </div>
                <div class="functions">
                    <img src="/static/img/add_to_playlist.svg" alt="" title="Добавить в плейлист">
                    <img src="/static/img/download.svg" alt="" title="Скачать трек">
                    <img src="/static/img/delete.svg" alt="" title="Удалить трек">
                    <img src="/static/img/edit.svg" alt="" title="Редактировать трек">
                </div>
                <div class="music_timing">
                    <span>10:25:33</span>
                </div>
            </div>

            <div class="music">
                <div class="cover_name_container">
                    <img class="music_cover" src="/static/img/test_cover.jpg" alt="cover">
                    <div class="music_title">
                        <span class="music_name">Неизвестен</span>
                        <span class="music_author">Без названия</span>
                    </div>
                </div>
                <div class="functions">
                    <img src="/static/img/add_to_playlist.svg" alt="" title="Добавить в плейлист">
                    <img src="/static/img/download.svg" alt="" title="Скачать трек">
                    <img src="/static/img/delete.svg" alt="" title="Удалить трек">
                    <img src="/static/img/edit.svg" alt="" title="Редактировать трек">
                </div>
                <div class="music_timing">
                    <span>10:25:33</span>
                </div>
            </div>

            <div class="music">
                <div class="cover_name_container">
                    <img class="music_cover" src="/static/img/test_cover.jpg" alt="cover">
                    <div class="music_title">
                        <span class="music_name">Неизвестен</span>
                        <span class="music_author">Без названия</span>
                    </div>
                </div>
                <div class="functions">
                    <img src="/static/img/add_to_playlist.svg" alt="" title="Добавить в плейлист">
                    <img src="/static/img/download.svg" alt="" title="Скачать трек">
                    <img src="/static/img/delete.svg" alt="" title="Удалить трек">
                    <img src="/static/img/edit.svg" alt="" title="Редактировать трек">
                </div>
                <div class="music_timing">
                    <span>10:25:33</span>
                </div>
            </div>
            <div class="music">
                <div class="cover_name_container">
                    <img class="music_cover" src="/static/img/test_cover.jpg" alt="cover">
                    <div class="music_title">
                        <span class="music_name">Неизвестен</span>
                        <span class="music_author">Без названия</span>
                    </div>
                </div>
                <div class="functions">
                    <img src="/static/img/add_to_playlist.svg" alt="" title="Добавить в плейлист">
                    <img src="/static/img/download.svg" alt="" title="Скачать трек">
                    <img src="/static/img/delete.svg" alt="" title="Удалить трек">
                    <img src="/static/img/edit.svg" alt="" title="Редактировать трек">
                </div>
                <div class="music_timing">
                    <span>10:25:33</span>
                </div>
            </div>
            <div class="music">
                <div class="cover_name_container">
                    <img class="music_cover" src="/static/img/test_cover.jpg" alt="cover">
                    <div class="music_title">
                        <span class="music_name">Неизвестен</span>
                        <span class="music_author">Без названия</span>
                    </div>
                </div>
                <div class="functions">
                    <img src="/static/img/add_to_playlist.svg" alt="" title="Добавить в плейлист">
                    <img src="/static/img/download.svg" alt="" title="Скачать трек">
                    <img src="/static/img/delete.svg" alt="" title="Удалить трек">
                    <img src="/static/img/edit.svg" alt="" title="Редактировать трек">
                </div>
                <div class="music_timing">
                    <span>10:25:33</span>
                </div>
            </div>
            <div class="music">
                <div class="cover_name_container">
                    <img class="music_cover" src="/static/img/test_cover.jpg" alt="cover">
                    <div class="music_title">
                        <span class="music_name">Неизвестен</span>
                        <span class="music_author">Без названия</span>
                    </div>
                </div>
                <div class="functions">
                    <img src="/static/img/add_to_playlist.svg" alt="" title="Добавить в плейлист">
                    <img src="/static/img/download.svg" alt="" title="Скачать трек">
                    <img src="/static/img/delete.svg" alt="" title="Удалить трек">
                    <img src="/static/img/edit.svg" alt="" title="Редактировать трек">
                </div>
                <div class="music_timing">
                    <span>10:25:33</span>
                </div>
            </div>
            <div class="music">
                <div class="cover_name_container">
                    <img class="music_cover" src="/static/img/test_cover.jpg" alt="cover">
                    <div class="music_title">
                        <span class="music_name">Неизвестен</span>
                        <span class="music_author">Без названия</span>
                    </div>
                </div>
                <div class="functions">
                    <img src="/static/img/add_to_playlist.svg" alt="" title="Добавить в плейлист">
                    <img src="/static/img/download.svg" alt="" title="Скачать трек">
                    <img src="/static/img/delete.svg" alt="" title="Удалить трек">
                    <img src="/static/img/edit.svg" alt="" title="Редактировать трек">
                </div>
                <div class="music_timing">
                    <span>10:25:33</span>
                </div>
            </div>
            <div class="music">
                <div class="cover_name_container">
                    <img class="music_cover" src="/static/img/test_cover.jpg" alt="cover">
                    <div class="music_title">
                        <span class="music_name">Неизвестен</span>
                        <span class="music_author">Без названия</span>
                    </div>
                </div>
                <div class="functions">
                    <img src="/static/img/add_to_playlist.svg" alt="" title="Добавить в плейлист">
                    <img src="/static/img/download.svg" alt="" title="Скачать трек">
                    <img src="/static/img/delete.svg" alt="" title="Удалить трек">
                    <img src="/static/img/edit.svg" alt="" title="Редактировать трек">
                </div>
                <div class="music_timing">
                    <span>10:25:33</span>
                </div>
            </div>
            <div class="music">
                <div class="cover_name_container">
                    <img class="music_cover" src="/static/img/test_cover.jpg" alt="cover">
                    <div class="music_title">
                        <span class="music_name">Неизвестен</span>
                        <span class="music_author">Без названия</span>
                    </div>
                </div>
                <div class="functions">
                    <img src="/static/img/add_to_playlist.svg" alt="" title="Добавить в плейлист">
                    <img src="/static/img/download.svg" alt="" title="Скачать трек">
                    <img src="/static/img/delete.svg" alt="" title="Удалить трек">
                    <img src="/static/img/edit.svg" alt="" title="Редактировать трек">
                </div>
                <div class="music_timing">
                    <span>10:25:33</span>
                </div>
            </div>
            <div class="music">
                <div class="cover_name_container">
                    <img class="music_cover" src="/static/img/test_cover.jpg" alt="cover">
                    <div class="music_title">
                        <span class="music_name">Неизвестен</span>
                        <span class="music_author">Без названия</span>
                    </div>
                </div>
                <div class="functions">
                    <img src="/static/img/add_to_playlist.svg" alt="" title="Добавить в плейлист">
                    <img src="/static/img/download.svg" alt="" title="Скачать трек">
                    <img src="/static/img/delete.svg" alt="" title="Удалить трек">
                    <img src="/static/img/edit.svg" alt="" title="Редактировать трек">
                </div>
                <div class="music_timing">
                    <span>10:25:33</span>
                </div>
            </div>
            <div class="music">
                <div class="cover_name_container">
                    <img class="music_cover" src="/static/img/test_cover.jpg" alt="cover">
                    <div class="music_title">
                        <span class="music_name">Неизвестен</span>
                        <span class="music_author">Без названия</span>
                    </div>
                </div>
                <div class="functions">
                    <img src="/static/img/add_to_playlist.svg" alt="" title="Добавить в плейлист">
                    <img src="/static/img/download.svg" alt="" title="Скачать трек">
                    <img src="/static/img/delete.svg" alt="" title="Удалить трек">
                    <img src="/static/img/edit.svg" alt="" title="Редактировать трек">
                </div>
                <div class="music_timing">
                    <span>10:25:33</span>
                </div>
            </div>
            <div class="music">
                <div class="cover_name_container">
                    <img class="music_cover" src="/static/img/test_cover.jpg" alt="cover">
                    <div class="music_title">
                        <span class="music_name">Неизвестен</span>
                        <span class="music_author">Без названия</span>
                    </div>
                </div>
                <div class="functions">
                    <img src="/static/img/add_to_playlist.svg" alt="" title="Добавить в плейлист">
                    <img src="/static/img/download.svg" alt="" title="Скачать трек">
                    <img src="/static/img/delete.svg" alt="" title="Удалить трек">
                    <img src="/static/img/edit.svg" alt="" title="Редактировать трек">
                </div>
                <div class="music_timing">
                    <span>10:25:33</span>
                </div>
            </div>
            <div class="music">
                <div class="cover_name_container">
                    <img class="music_cover" src="/static/img/test_cover.jpg" alt="cover">
                    <div class="music_title">
                        <span class="music_name">Неизвестен</span>
                        <span class="music_author">Без названия</span>
                    </div>
                </div>
                <div class="functions">
                    <img src="/static/img/add_to_playlist.svg" alt="" title="Добавить в плейлист">
                    <img src="/static/img/download.svg" alt="" title="Скачать трек">
                    <img src="/static/img/delete.svg" alt="" title="Удалить трек">
                    <img src="/static/img/edit.svg" alt="" title="Редактировать трек">
                </div>
                <div class="music_timing">
                    <span>10:25:33</span>
                </div>
            </div>
            <div class="music">
                <div class="cover_name_container">
                    <img class="music_cover" src="/static/img/test_cover.jpg" alt="cover">
                    <div class="music_title">
                        <span class="music_name">Неизвестен</span>
                        <span class="music_author">Без названия</span>
                    </div>
                </div>
                <div class="functions">
                    <img src="/static/img/add_to_playlist.svg" alt="" title="Добавить в плейлист">
                    <img src="/static/img/download.svg" alt="" title="Скачать трек">
                    <img src="/static/img/delete.svg" alt="" title="Удалить трек">
                    <img src="/static/img/edit.svg" alt="" title="Редактировать трек">
                </div>
                <div class="music_timing">
                    <span>10:25:33</span>
                </div>
            </div>

        </div>
    </div>

    <div class="main_player">
        <div class="main_player_cover_and_title">
            <img src="/static/img/test_cover.jpg" alt="" class="music_cover">
            <div class="main_player_controls">
                <img src="/static/img/forward.svg" alt="" style="transform: rotate(180deg);">
                <img src="/static/img/play.svg" alt="" style="margin: 0 4% 0 6%;">
                <img src="/static/img/forward.svg" alt="">
            </div>
        </div>

        <div class="music_title">
            <span class="music_name">Неизвестенqwetwqetweqtwetqwe</span>
            <span class="music_author">Без названияtqwetqwetqwetqwetqwetqwetqwetqwetwetqwetqw</span>
        </div>

        <div class="main_player_timeline">
            <div class="main_player_full_time_line">
                <div class="main_player_cur_time_line"></div>
            </div>
        </div>
        <div class="main_player_time">
            <div>
                <span>20:35</span>
                <span>/</span>
                <span>13:45</span>
            </div>
        </div>
        <div class="main_player_volume">
            <input type="range" min="0" max="100" value="100">
        </div>
        <div class="main_player_function">
            <img src="/static/img/repeat.svg" alt="">
            <img src="/static/img/shuffle.svg" alt="">
        </div>
    </div>
</body>
</html>