@font-face {
	font-family: pixel_font;
	src: url('../font/mini_pixel-7.ttf') format('truetype'),
		 url('../font/mini_pixel-7.fon');
}

body {
	background: #FFFDF5;
}

*::-webkit-scrollbar {
  	width: 8px;
}

.PlayLists::-webkit-scrollbar {
	height: 8px;
}

*::-webkit-scrollbar-track {
  	background: none;
}

*::-webkit-scrollbar-thumb {
  	background-color: rgba(213, 213, 255, 0.8);
  	border-radius: 4px;
	border: 1px solid;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: pixel_font, serif;
	image-rendering: pixelated;
}

@media (min-width: 1001px) {
	#bodyContent {
	    width: 1000px;
	    left: calc(50% - 500px);
	}

	.header, .mainPlayer {
		width: 1000px;
	}

	.imgAlbom {
		margin-right: 20px;
	}

	.imgBackWard, .imgPlay, .imgForWard, .imgLoop, .imgShuffle, .imgVolume {
		width: 4%;
		margin-right: 10px;
	}
}

@media (max-width: 1000px) {
	#bodyContent {
	    width: 100%;
	    left: 0;
	}

	.mainPlayer {
		padding: 0;
	    width: 100%;
	}

	.imgAlbom {
		margin-right: 10px;
		width: 12% !important;
	}

	.imgBackWard, .imgPlay, .imgForWard, .imgLoop, .imgShuffle, .imgVolume {
		width: 6%;
		margin-right: 5px;
	}

	.timeLine {
    	width: 100vw !important;
	}

	.header {
		width: 100% !important;
	}

	.nameAndAuthor {
		font-size: 20px !important;
    	flex-direction: column;
    	align-items: center;
	}

	.blockMusic > div > span, .blockPlayList > span, .blockMusic > span {
		font-size: 14px !important;
	}

	.PlayLists {
		height: 140px !important;
	}

	.FrendsList {
		font-size: 14px !important;
	}

	.All_Freand_List {
		width: 40% !important;
	}

	.AllMusicList {
		width: 60% !important;
		margin: 0 3% 17% 0 !important;
	}

	.blockMusic {
		margin-bottom: 2% !important;
	}

	.blockMusic > div > div > span {
		font-size: 16px !important;
	}

	.Logo {
		background: url("../img/logo_m.png") no-repeat !important;
		width: 58px !important;
		height: 58px !important;
		padding: 7% 9% !important;
	}

	.block_search, .load_track, .add_playlist {
		padding: 2% !important;
		font-size: 12px !important;
	}

	.load_track > img, .block_search > img, .add_playlist > img {
		width: 25px !important;
	}

	.add_playlist > img {
		margin-right: 5% !important;
	}
}

.header {
	position: fixed;
	top: 0;
	height: 80px;
	width: 1000px;
    box-shadow: 0 -2px 0 inset #4FB8FF;
    background: #267AE9;
    border: 2px solid;
	display: flex;
	align-items: center;
    justify-content: space-between;
}

.left_panel {
	display: flex;
	align-items: center;
    justify-content: space-between;
}

.block_search > input {
	border: 2px solid;
    width: 190px;
    height: 24px;
    font-size: 20px;
}


#bodyContent {
	background: #FFFDF5;
	position: absolute;
    top: 0;
}

.mainPlayer {
	border: 2px solid;
	background: #267AE9;
	box-shadow: 0 2px 0 inset #4FB8FF;
	position: fixed;
    bottom: 0;
}

.controlsPlayer {
	display: flex;
    flex-direction: row;
    align-items: center;
}

.imgAlbom {
	border-right: 2px solid;
	width: 8%;
}

.ushe_pohuy {
	display: flex;
    flex-direction: column;
    width: 100%;
}

.timeLine {
    border: 2px solid;
    background: #fff;
	position: absolute;
    bottom: 100%;
    left: -2px;
    width: 100.4%;
    height: 18px;
}

.time_start, .time_end {
	position: absolute;
	bottom: 99%;
	z-index: 1;
	color: #000;
}

.time_start {
	left: 4px;
}

.time_end {
	right: 4px;
}

.timeLine_fill {
	background: #04db00;
	height: 14px;
}

.timeLineAndName {
	display: flex;
	width: 100%;
    flex-direction: column;
	overflow: hidden;
}

.nameAndAuthor {
	color: #fff;
	display: flex;
    justify-content: space-between;
	white-space: nowrap;
    font-size: 20px;
}

.t_name_author {
	overflow: hidden;
    text-overflow: ellipsis;
}

.MainMusic {
	min-height: 765px;
    margin: 78px 0 0 0;
    border: 2px solid;
    background: #4394ff;
    box-shadow: inset 2px 0 0 #76c0ff, inset -2px 0 0 #76c0ff;
}

.PlayLists {
	width: 100%;
    height: 180px;
    display: flex;
	overflow: auto;
	padding: 2%;
}

.blockPlayList:hover {
	transform: scale(1.1);
}

.blockPlayList {
	display: flex;
    flex-direction: column;
    align-items: center;
	margin: 1%;
	transition: ease 0.3s;
}

.blockPlayList > img {
	width: 100px;
	border: 1px solid;
}

.blockPlayList > span {
	font-size: 20px;
}

.AllMusicList {
	width: 70%;
    margin: 0 3% 9% 0;
}

.blockMusic {
	display: flex;
    align-items: center;
	justify-content: space-between;
	margin-bottom: 1%;
}

.blockMusic:hover {
	background: #ffffff3d;
}

.blockMusic > div {
	display: flex;
    align-items: center;
	width: 100%;
}

.blockMusic > div > div {
	display: flex;
    flex-direction: column;
    padding-left: 1%;
}

.blockMusic > div > div > span {
	font-size: 20px;
}

.blockMusic > span {
	font-size: 20px;
}

.blockMusic > div > img {
	width: 50px;
    border: 1px solid;
}

.Music_and_Frend {
	display: flex;
    margin: 2% 3%;
}

.FrendsList {
	font-size: 18px;
}

.FrendsList > div {
	display: flex;
	margin-bottom: 2%;
}

.FrendsList > div:hover {
	background: #ffffff3d;
}

.FrendsList > div > div {
	display: flex;
    flex-direction: column;
}

.FrendsList > div > img {
	width: 40px;
	height: 40px;
	border: 1px solid;
	margin-right: 3%;
}

.All_Freand_List {
	width: 30%;
}

.All_Freand_List > p {
	font-size: 20px;
    margin-bottom: 2%;
}

.Logo {
	background: url("../img/logo.png") no-repeat;
    width: 128px;
    height: 64px;
    padding: 7% 15%;
}

.block_search, .load_track, .add_playlist {
	display: flex;
    align-items: center;
    background: #002bff38;
    border: 2px solid #000;
    height: 64px;
    padding: 3%;
    box-shadow: -2px -2px 0 #ffffff36 inset;
    margin-right: 3%;
	color: #fff;
}
.block_search:hover, .load_track:hover, .add_playlist:hover {
	background: #002bff5e;
	box-shadow: 2px 2px 0 #ffffff36 inset;
}

.add_playlist > img {
	margin-right: 8%;
}
