@font-face {
	font-family: pixel_font;
	src: url('../font/mini_pixel-7.ttf') format('truetype'),
		 url('../font/mini_pixel-7.fon');
}

body {
	background: #FFFDF5;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: pixel_font, serif;
	image-rendering: pixelated;
}

@media (min-width: 1001px) {
	#bodyContent {
	    width: 1000px;
	    left: calc(50% - 500px);
	}

	.header, .mainPlayer {
		width: 1000px;
	}

	.imgAlbom {
		margin-right: 20px;
	}

	.imgBackWard, .imgPlay, .imgForWard, .imgLoop, .imgShuffle, .imgVolume {
		width: 4%;
		margin-right: 10px;
	}
}

@media (max-width: 1000px) {
	#bodyContent {
	    width: 100%;
	    left: 0;
	}

	.mainPlayer {
		padding: 0;
	    width: 100%;
	}

	.imgAlbom {
		margin-right: 10px;
		width: 12% !important;
	}

	.imgBackWard, .imgPlay, .imgForWard, .imgLoop, .imgShuffle, .imgVolume {
		width: 6%;
		margin-right: 5px;
	}

	.timeLine {
    	width: 100vw !important;
	}

	.header {
		width: 100% !important;
	}

	.nameAndAuthor {
		font-size: 20px !important;
    	flex-direction: column;
    	align-items: center;
	}

	.blockMusic > div > span, .blockPlayList > span, .blockMusic > span {
		font-size: 14px !important;
	}
}

.header {
	position: fixed;
	top: 0;
	height: 80px;
	width: 1000px;
    box-shadow: 0 -2px 0 inset #4FB8FF;
    background: #267AE9;
    border: 2px solid;
	display: flex;
	align-items: center;
    justify-content: space-between;
}

.left_panel {
	display: flex;
	align-items: center;
    justify-content: space-between;
}

.block_search > input {
	border: 2px solid;
    width: 190px;
    height: 24px;
    font-size: 20px;
}


#bodyContent {
	background: #FFFDF5;
	position: absolute;
    top: 0;
}

.mainPlayer {
	border: 2px solid;
	background: #267AE9;
	box-shadow: 0 2px 0 inset #4FB8FF;
	position: fixed;
    bottom: 0;
}

.controlsPlayer {
	display: flex;
    flex-direction: row;
    align-items: center;
}

.imgAlbom {
	border-right: 2px solid;
	width: 8%;
}

.ushe_pohuy {
	display: flex;
    flex-direction: column;
    width: 100%;
}

.timeLine {
    border: 2px solid;
    background: #fff;
	position: absolute;
    bottom: 100%;
    left: -2px;
    width: 100.5%;
    height: 18px;
}

.time_start, .time_end {
	position: absolute;
	bottom: 99%;
	z-index: 1;
	color: #000;
}

.time_start {
	left: 4px;
}

.time_end {
	right: 4px;
}

.timeLine_fill {
	background: #04db00;
	height: 14px;
}

.timeLineAndName {
	display: flex;
	width: 100%;
    flex-direction: column;
	overflow: hidden;
}

.nameAndAuthor {
	color: #fff;
	display: flex;
    justify-content: space-between;
	white-space: nowrap;
    font-size: 20px;
}

.t_name_author {
	overflow: hidden;
    text-overflow: ellipsis;
}

.MainMusic {
	min-height: 765px;
    margin: 78px 0 0 0;
    border: 2px solid;
    background: #4394ff;
    box-shadow: inset 2px 0 0 #76c0ff, inset -2px 0 0 #76c0ff;
}

.PlayLists {
	width: 100%;
    height: 150px;
    display: flex;
	overflow: auto;
	padding: 2%;
}

.blockPlayList:hover {
	transform: scale(1.1);
}

.blockPlayList {
	display: flex;
    flex-direction: column;
    align-items: center;
	margin: 1%;
	transition: ease 0.3s;
}

.blockPlayList > img {
	width: 100px;
	border: 1px solid;
}

.blockPlayList > span {
	font-size: 20px;
}

.AllMusicList {
	margin: 2% 6%;
}

.blockMusic {
	display: flex;
    align-items: center;
	justify-content: space-between;
	margin-bottom: .5%;
}

.blockMusic:hover {
	background: #ffffff3d;
}

.blockMusic > div {
	display: flex;
    align-items: center;
	width: 100%;
}

.blockMusic > div > div {
	display: flex;
    flex-direction: column;
    padding-left: 1%;
}

.blockMusic > div > div > span {
	font-size: 20px;
}

.blockMusic > span {
	font-size: 20px;
}

.blockMusic > div > img {
	width: 50px;
    border: 1px solid;
}
