<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/png">
		<title>Music</title>
	</head>
	<body>
		<div id="bodyContent">
			<div class="header">
                <div class="left_panel">
                    <div class="Logo">
{#                        <img src="../static/img/logo.png" alt="#">#}
                    </div>
                    <div class="block_search">
                        <img src="../static/img/search.png" alt="#">
                        <span>Поиск</span>
                    </div>
                    <div class="load_track">
                        <img src="../static/img/plus.png" alt="#">
                        <span>Загрузить трек</span>
                    </div>
                    <div class="add_playlist">
                        <img src="../static/img/add_playlist.png" alt="#">
                        <span>Создать плейлист</span>
                    </div>
                </div>
                <div class="right_panel block_search">
                    <span>LogIn/RegIn</span>
                </div>
			</div>
			<div class="MainMusic">
                <div class="PlayLists">
                    {#            тут цикл ебаный        #}
                    <div class="blockPlayList">
                        <img src="../static/img/img_playlist_1.jpg" alt="#">
                        <span>PlayList #1</span>
                    </div>

                    <div class="blockPlayList">
                        <img src="../static/img/img_playlist_2.jpg" alt="#">
                        <span>PlayList #2</span>
                    </div>

                    <div class="blockPlayList">
                        <img src="../static/img/img_playlist_3.jpg" alt="#">
                        <span>PlayList #3</span>
                    </div>

                    <div class="blockPlayList">
                        <img src="../static/img/img_playlist_3.jpg" alt="#">
                        <span>PlayList #3</span>
                    </div>

                    <div class="blockPlayList">
                        <img src="../static/img/img_playlist_3.jpg" alt="#">
                        <span>PlayList #3</span>
                    </div>

                    <div class="blockPlayList">
                        <img src="../static/img/img_playlist_3.jpg" alt="#">
                        <span>PlayList #3</span>
                    </div>

                    <div class="blockPlayList">
                        <img src="../static/img/img_playlist_3.jpg" alt="#">
                        <span>PlayList #3</span>
                    </div>

                    <div class="blockPlayList">
                        <img src="../static/img/img_playlist_3.jpg" alt="#">
                        <span>PlayList #3</span>
                    </div>

                    <div class="blockPlayList">
                        <img src="../static/img/img_playlist_3.jpg" alt="#">
                        <span>PlayList #3</span>
                    </div>

                    <div class="blockPlayList">
                        <img src="../static/img/img_playlist_3.jpg" alt="#">
                        <span>PlayList #3</span>
                    </div>

                    <div class="blockPlayList">
                        <img src="../static/img/img_playlist_3.jpg" alt="#">
                        <span>PlayList #3</span>
                    </div>

                    <div class="blockPlayList">
                        <img src="../static/img/img_playlist_3.jpg" alt="#">
                        <span>PlayList #3</span>
                    </div>

                </div>
                <div class="Music_and_Frend">
                    <div class="AllMusicList">
                        {#            тут цикл ебаный        #}
                        <div class="blockMusic">
                            <div>
                                <img src="../static/img/img_playlist_1.jpg" alt="#">
                                <div>
                                    <span>Name</span>
                                    <span>Author</span>
                                </div>
                            </div>
                            <span>3:20</span>
                        </div>
                        <div class="blockMusic">
                            <div>
                                <img src="../static/img/img_playlist_1.jpg" alt="#">
                                <div>
                                    <span>Name</span>
                                    <span>Author</span>
                                </div>
                            </div>
                            <span>3:20</span>
                        </div>
                        <div class="blockMusic">
                            <div>
                                <img src="../static/img/img_playlist_1.jpg" alt="#">
                                <div>
                                    <span>Name</span>
                                    <span>Author</span>
                                </div>
                            </div>
                            <span>3:20</span>
                        </div>
                        <div class="blockMusic">
                            <div>
                                <img src="../static/img/img_playlist_1.jpg" alt="#">
                                <div>
                                    <span>Name</span>
                                    <span>Author</span>
                                </div>
                            </div>
                            <span>3:20</span>
                        </div>
                        <div class="blockMusic">
                            <div>
                                <img src="../static/img/img_playlist_1.jpg" alt="#">
                                <div>
                                    <span>Name</span>
                                    <span>Author</span>
                                </div>
                            </div>
                            <span>3:20</span>
                        </div>
                        <div class="blockMusic">
                            <div>
                                <img src="../static/img/img_playlist_1.jpg" alt="#">
                                <div>
                                    <span>Name</span>
                                    <span>Author</span>
                                </div>
                            </div>
                            <span>3:20</span>
                        </div>
                        <div class="blockMusic">
                            <div>
                                <img src="../static/img/img_playlist_1.jpg" alt="#">
                                <div>
                                    <span>Name</span>
                                    <span>Author</span>
                                </div>
                            </div>
                            <span>3:20</span>
                        </div>
                        <div class="blockMusic">
                            <div>
                                <img src="../static/img/img_playlist_1.jpg" alt="#">
                                <div>
                                    <span>Name</span>
                                    <span>Author</span>
                                </div>
                            </div>
                            <span>3:20</span>
                        </div>
                        <div class="blockMusic">
                            <div>
                                <img src="../static/img/img_playlist_1.jpg" alt="#">
                                <div>
                                    <span>Name</span>
                                    <span>Author</span>
                                </div>
                            </div>
                            <span>3:20</span>
                        </div>
                        <div class="blockMusic">
                            <div>
                                <img src="../static/img/img_playlist_1.jpg" alt="#">
                                <div>
                                    <span>Name</span>
                                    <span>Author</span>
                                </div>
                            </div>
                            <span>3:20</span>
                        </div>
                        <div class="blockMusic">
                            <div>
                                <img src="../static/img/img_playlist_1.jpg" alt="#">
                                <div>
                                    <span>Name</span>
                                    <span>Author</span>
                                </div>
                            </div>
                            <span>3:20</span>
                        </div>
                        <div class="blockMusic">
                            <div>
                                <img src="../static/img/img_playlist_1.jpg" alt="#">
                                <div>
                                    <span>Name</span>
                                    <span>Author</span>
                                </div>
                            </div>
                            <span>3:20</span>
                        </div>
                        <div class="blockMusic">
                            <div>
                                <img src="../static/img/img_playlist_1.jpg" alt="#">
                                <div>
                                    <span>Name</span>
                                    <span>Author</span>
                                </div>
                            </div>
                            <span>3:20</span>
                        </div>
                        <div class="blockMusic">
                            <div>
                                <img src="../static/img/img_playlist_1.jpg" alt="#">
                                <div>
                                    <span>Name</span>
                                    <span>Author</span>
                                </div>
                            </div>
                            <span>3:20</span>
                        </div>
                        <div class="blockMusic">
                            <div>
                                <img src="../static/img/img_playlist_1.jpg" alt="#">
                                <div>
                                    <span>Name</span>
                                    <span>Author</span>
                                </div>
                            </div>
                            <span>3:20</span>
                        </div>
                        <div class="blockMusic">
                            <div>
                                <img src="../static/img/img_playlist_1.jpg" alt="#">
                                <div>
                                    <span>Name</span>
                                    <span>Author</span>
                                </div>
                            </div>
                            <span>3:20</span>
                        </div>
                        <div class="blockMusic">
                            <div>
                                <img src="../static/img/img_playlist_1.jpg" alt="#">
                                <div>
                                    <span>Name</span>
                                    <span>Author</span>
                                </div>
                            </div>
                            <span>3:20</span>
                        </div>

                    </div>
                    <div class="All_Freand_List">
                        <p>Список друзей</p>
                        {#            тут цикл ебаный        #}
                        <div class="FrendsList">
                            <div>
                                <img src="../static/img/img_playlist_1.jpg" alt="#">
                                <div>
                                    <span style="display: flex;align-content: center;align-items: center;">
                                        <img src="../static/img/gem_green.png" alt="" style="width: 12px; height: 12px;">
                                        <span>UserLogin_Name</span>
                                    </span>
                                    <span>1337 аудиозаписи</span>
                                </div>
                            </div>
                            <div>
                                <img src="../static/img/img_playlist_1.jpg" alt="#">
                                <div>
                                    <span style="display: flex;align-content: center;align-items: center;">
                                        <img src="../static/img/gem_green.png" alt="" style="width: 12px; height: 12px;">
                                        <span>UserLogin_Name</span>
                                    </span>
                                    <span>1337 аудиозаписи</span>
                                </div>
                            </div>
                            <div>
                                <img src="../static/img/img_playlist_1.jpg" alt="#">
                                <div>
                                    <span style="display: flex;align-content: center;align-items: center;">
                                        <img src="../static/img/gem_grey.png" alt="" style="width: 12px; height: 12px;">
                                        <span>UserLogin_Name</span>
                                    </span>
                                    <span>1337 аудиозаписи</span>
                                </div>
                            </div>
                            <div>
                                <img src="../static/img/img_playlist_1.jpg" alt="#">
                                <div>
                                    <span style="display: flex;align-content: center;align-items: center;">
                                        <img src="../static/img/gem_green.png" alt="" style="width: 12px; height: 12px;">
                                        <span>UserLogin_Name</span>
                                    </span>
                                    <span>1337 аудиозаписи</span>
                                </div>
                            </div>
                            <div>
                                <img src="../static/img/img_playlist_1.jpg" alt="#">
                                <div>
                                    <span style="display: flex;align-content: center;align-items: center;">
                                        <img src="../static/img/gem_grey.png" alt="" style="width: 12px; height: 12px;">
                                        <span>UserLogin_Name</span>
                                    </span>
                                    <span>1337 аудиозаписи</span>
                                </div>
                            </div>
                            <div>
                                <img src="../static/img/img_playlist_1.jpg" alt="#">
                                <div>
                                    <span style="display: flex;align-content: center;align-items: center;">
                                        <img src="../static/img/gem_grey.png" alt="" style="width: 12px; height: 12px;">
                                        <span>UserLogin_Name</span>
                                    </span>
                                    <span>1337 аудиозаписи</span>
                                </div>
                            </div>
                            <div>
                                <img src="../static/img/img_playlist_1.jpg" alt="#">
                                <div>
                                    <span style="display: flex;align-content: center;align-items: center;">
                                        <img src="../static/img/gem_grey.png" alt="" style="width: 12px; height: 12px;">
                                        <span>UserLogin_Name</span>
                                    </span>
                                    <span>1337 аудиозаписи</span>
                                </div>
                            </div>
                            <div>
                                <img src="../static/img/img_playlist_1.jpg" alt="#">
                                <div>
                                    <span style="display: flex;align-content: center;align-items: center;">
                                        <img src="../static/img/gem_grey.png" alt="" style="width: 12px; height: 12px;">
                                        <span>UserLogin_Name</span>
                                    </span>
                                    <span>1337 аудиозаписи</span>
                                </div>
                            </div>
                            <div>
                                <img src="../static/img/img_playlist_1.jpg" alt="#">
                                <div>
                                    <span style="display: flex;align-content: center;align-items: center;">
                                        <img src="../static/img/gem_grey.png" alt="" style="width: 12px; height: 12px;">
                                        <span>UserLogin_Name</span>
                                    </span>
                                    <span>1337 аудиозаписи</span>
                                </div>
                            </div>
                            <div>
                                <img src="../static/img/img_playlist_1.jpg" alt="#">
                                <div>
                                    <span style="display: flex;align-content: center;align-items: center;">
                                        <img src="../static/img/gem_grey.png" alt="" style="width: 12px; height: 12px;">
                                        <span>UserLogin_Name</span>
                                    </span>
                                    <span>1337 аудиозаписи</span>
                                </div>
                            </div>
                            <div>
                                <img src="../static/img/img_playlist_1.jpg" alt="#">
                                <div>
                                    <span style="display: flex;align-content: center;align-items: center;">
                                        <img src="../static/img/gem_grey.png" alt="" style="width: 12px; height: 12px;">
                                        <span>UserLogin_Name</span>
                                    </span>
                                    <span>1337 аудиозаписи</span>
                                </div>
                            </div>
                            <div>
                                <img src="../static/img/img_playlist_1.jpg" alt="#">
                                <div>
                                    <span style="display: flex;align-content: center;align-items: center;">
                                        <img src="../static/img/gem_grey.png" alt="" style="width: 12px; height: 12px;">
                                        <span>UserLogin_Name</span>
                                    </span>
                                    <span>1337 аудиозаписи</span>
                                </div>
                            </div>
                            <div>
                                <img src="../static/img/img_playlist_1.jpg" alt="#">
                                <div>
                                    <span>UserLogin_Name</span>
                                    <span>1337 аудиозаписи</span>
                                </div>
                            </div>
                            <div>
                                <img src="../static/img/img_playlist_1.jpg" alt="#">
                                <div>
                                    <span>UserLogin_Name</span>
                                    <span>1337 аудиозаписи</span>
                                </div>
                            </div>
                            <div>
                                <img src="../static/img/img_playlist_1.jpg" alt="#">
                                <div>
                                    <span>UserLogin_Name</span>
                                    <span>1337 аудиозаписи</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

			</div>
			<div class="mainPlayer">
				<div class="controlsPlayer">
					<img src="../static/img/img_albom.png" class="imgAlbom">
					<img src="../static/img/backward_v2.png" class="imgBackWard">
					<img src="../static/img/play.png" class="imgPlay">
					<img src="../static/img/forward_v2.png" class="imgForWard">
					<div class="timeLineAndName">
						<div class="nameAndAuthor">
                            <div class="ushe_pohuy">
                                <span class="t_name_author">1000 и 1 мэшап с Фейсом</span>
                                <span>№2</span>
                            </div>
                            <div>
                                <span class="time_start">1:21</span>
                                <span class="time_end">3:20</span>
                            </div>
						</div>
						<div class="timeLine">
							<div class="timeLine_fill" style="width: 100px;"></div>
						</div>
					</div>
					<img src="../static/img/loop.png" class="imgLoop" style="margin-left: 10px;">
					<img src="../static/img/shuffle.png" class="imgShuffle">
					<img src="../static/img/volume_10up.png" class="imgVolume">
				</div>
			</div>
		</div>
	</body>
</html>